.loginPage {
	width: 100vw;
	height: 90vh;
	background-color: #200E3A;
	display: flex;
	justify-content: center;
}

.loginForm {
	height: 3vh;
	width: 16vw;
	border-radius: 20px;
	color: black;
}





.loginTitle {
	font-weight: bold;
	color: black;
	font-size: 4vh;
}

.loginContainer {
	width: 30vw;
	height: 70vh;
	background-color: #52D3D8;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10vh;
	font-size: 3vh;
	border: 3px solid #616161;
	color: #d9dadb;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}

.loginBtn {
	background-color: #200E3A;
	color: white;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	font-size: 16px;
	padding: 16px 24px;
	text-align: center;
	transform: translateY(0);
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.loginBtn:hover {
	transform: translateY(-3px);
}

 
.loginContainer {
		width: 80vw;
		height: 80vh;
		gap: 20vh;
		font-size: 3vh;
	}
 

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 40px;
}


.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #200E3A;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.roleLabel {
	margin-left: 10px;
	width: 10vw;
	display: flex;
	justify-content: center;
	color: black;
}
