.registerPage {
	width: 100vw;
	height: 90vh;
	background-color: #200E3A;
	display: flex;
	justify-content: center;
	background-size: contain;
}

.registerForm{
	height: 3vh;
	width: 16vw;
	border-radius: 20px;
}

.registerForm > label {
	color: black;
	font-weight: bold;
}

.registerTitle {
	font-weight: bold;
	color: black;
	font-size: 4vh;
	margin-top: 2vh;
}

.registerContainer {
	width: 20vw;
	height: 70vh;
	background-color: #52D3D8;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 3vh;
}

.registerForm {
	flex-direction: column;
	align-items: center;
	gap: 2vh;
}

.registerBtn {
	background-color: #200E3A;
	color: white;
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	font-size: 16px;
	padding: 16px 24px;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	transform: translateY(0);
}

.registerBtn:hover {
	transform: translateY(-2px);
}


	.registerContainer {
		width: 80vw;
		height: 80vh;
		font-size: 3vh;
	}

